/* Styles */

/* Colors (Solarized Dark) */
@define-color base03   #002b36;
@define-color base02   #073642;
@define-color base01   #586e75;
@define-color base00   #657b83;
@define-color base0    #839496;
@define-color base1    #93a1a1;
@define-color base2    #eee8d5;
@define-color base3    #fdf6e3;
@define-color yellow   #b58900;
@define-color orange   #cb4b16;
@define-color red      #dc322f;
@define-color magenta  #d33682;
@define-color violet   #6c71c4;
@define-color blue     #268bd2;
@define-color cyan     #2aa198;
@define-color green    #859900;

@define-color right-color  @base2;
@define-color warning      @yellow;
@define-color critical     @red;
@define-color mode         @base0;
@define-color unfocused    @base3;
@define-color focused      @base2;
@define-color sound        @magenta;
@define-color network      @violet;
@define-color memory       @cyan;
@define-color cpu          @green;
@define-color temp         @red;
@define-color layout       @yellow;
@define-color battery      @magenta;
@define-color tray         @base02;
@define-color time         @unfocused;

* {
    border: none;
    border-radius: 0;
    font-family: Hasklig, Symbols Nerd Font Mono;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    color: @base0;
    background: alpha(@base03, 0.5);
    border-bottom: 3px solid alpha(@base00, 0.5);
}

tooltip {
  background: alpha(@base02, 0.9);
  border: 1px solid alpha(@base00, 0.75);
}
tooltip label {
  color: @base0;
}

#workspaces button {
    padding: 0 5px;
    background: @unfocused;
    color: @base00;
    border-bottom: 3px solid alpha(@base00, 0.5);
}

/* Inactive (on unfocused output) */
#workspaces button.visible {
    border-bottom: 3px solid @yellow;
}

/* Active (on focused output) */
#workspaces button.focused {
    background: @focused;
    border-bottom: 3px solid @green;
}

#workspaces button.urgent {
    color: orange;
}

.modules-right * {
  color: @right-color;
  padding: 0 0 0 5px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid @base00;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
}

#battery.charging {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-alsa,
#pulseaudio,
#sndio {
  background: @sound;
}

#network {
  background: @network;
}

#memory {
  background: @memory;
}

#cpu {
  background: @cpu;
}

#temperature {
  background: @temp;
}

#language {
  background: @layout;
}

#battery {
  background: @battery;
}

#tray {
  background: @tray;
  padding: 0 2px;
}
#tray .needs-attention {
  background: @yellow;
}

#clock {
  background: @time;
  color: @base00;
  padding: 0 5px;
}

#custom-arrowLeft, #custom-arrowRight {
  font-size: 13pt;
 }
#custom-arrowLeft {
  padding: 0 0 0 5px;
}
#custom-arrowRight {
  padding: 0 5px 0 0;
}

#custom-arrowLeft.network {
  color: @network;
  background: transparent;
}

#custom-arrowLeft.memory {
  color: @memory;
  background: @network;
}

#custom-arrowLeft.cpu {
  color: @cpu;
  background: @memory;
}

#custom-arrowLeft.temp {
  color: @temp;
  background: @cpu;
}

#custom-arrowLeft.lang {
  color: @layout;
  background: @temp;
}

#custom-arrowLeft.tray {
  color: @tray;
  background: @layout;
}

#custom-arrowLeft.clock {
  color: @time;
  background: @tray;
}

#custom-arrowRight.workspaces {
  color: @unfocused;
  background: transparent;
}
